In [174]:
import pandas as pd
import numpy as np

In [175]:
df = pd.read_csv('./hash_tsunami.csv')

In [176]:
df.head()

,handle,tweet,if_tsunami,datetime,day,month,year,time,if_alert_worthy
0,UiB_Rotevatn,. @KateClarkEqGeo @gnsscience bringing New Zea...,True,2019-01-15 08:07:00,15,Jan,2019,8:07 AM,0
1,napakcha,How to survive a #tsunami! https://www.faceboo...,True,2019-01-15 04:59:00,15,Jan,2019,4:59 AM,0
2,geotecniaonline,raspishake: #Indonesia is a nation of islands ...,True,2019-01-15 06:46:00,15,Jan,2019,6:46 AM,0
3,SSkyvington,#Tsunami Three health care tsunamis — obesity...,True,2019-01-14 05:00:00,14,Jan,2019,5:00 AM,0
4,BerndWilke1,#Indonesia #tsunami: How a #volcano can be the...,True,2019-01-15 05:48:00,15,Jan,2019,5:48 AM,0

In [177]:
alert_list = [529, 531, 533, 534, 555, 557, 558, 560, 563, 564, 565, 569, 573,
575, 580, 582, 584, 585, 589, 872, 891, 897, 904, 905, 908, 909, 914, 915, 919, 925, 928, 934, 936,
937, 939, 941, 943, 945, 947, 953, 955, 958, 964, 966, 967, 971, 972, 973, 976, 977]

df.ix[alert_list]['if_alert_worthy'] = 1

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

In [37]:
#df.iloc[alert_list, df.columns.get_loc('if_alert_worthy')] = 1

In [30]:
#df_alert_worthy = df.iloc[alert_list]['if_alert_worthy']# = 1

In [42]:
df_alert_worthy = df.iloc[alert_list]

In [43]:
df.shape

(1416, 9)

In [44]:
df_alert_worthy.shape

(50, 9)

---

# Drop positively labeled rows:

In [ ]:
df.drop(index=alert_list, axis=0, inplace=True)

In [123]:
df.shape

(1366, 9)

In [124]:
df.head(1)

,handle,tweet,if_tsunami,datetime,day,month,year,time,if_alert_worthy
0,UiB_Rotevatn,. @KateClarkEqGeo @gnsscience bringing New Zea...,True,2019-01-15 08:07:00,15,Jan,2019,8:07 AM,0

In [133]:
dec_23 = list(df[(df['day'] == 23) & (df['month'] == 'Dec')].index)

In [138]:
len(dec_23)

131

In [139]:
df.drop(axis=0, index=dec_23, inplace=True)

In [140]:
df.shape

(1235, 9)

In [141]:
sep_29 = list(df[(df['day'] == 29) & (df['month'] == 'Sep')].index)

In [142]:
df.drop(axis=0, index=sep_29, inplace=True)

In [144]:
jan_2018 = list(df[(df['month'] == 'Jan') & (df['year'] == 2018)].index)

In [145]:
df.drop(axis=0, index=jan_2018, inplace=True)

---

# Randomly select 250 rows:

In [146]:
remaining = list(df.index)

In [147]:
df.head()

,handle,tweet,if_tsunami,datetime,day,month,year,time,if_alert_worthy
0,UiB_Rotevatn,. @KateClarkEqGeo @gnsscience bringing New Zea...,True,2019-01-15 08:07:00,15,Jan,2019,8:07 AM,0
1,napakcha,How to survive a #tsunami! https://www.faceboo...,True,2019-01-15 04:59:00,15,Jan,2019,4:59 AM,0
2,geotecniaonline,raspishake: #Indonesia is a nation of islands ...,True,2019-01-15 06:46:00,15,Jan,2019,6:46 AM,0
3,SSkyvington,#Tsunami Three health care tsunamis — obesity...,True,2019-01-14 05:00:00,14,Jan,2019,5:00 AM,0
4,BerndWilke1,#Indonesia #tsunami: How a #volcano can be the...,True,2019-01-15 05:48:00,15,Jan,2019,5:48 AM,0

In [148]:
addtl_250 = np.random.choice(remaining, 250, replace=False)

In [149]:
addtl_250 = list(addtl_250)

In [115]:
#df_alert_worthy = df.iloc[alert_list]

In [116]:
#df.iloc[alert_list]

In [117]:
#type(alert_list)

In [152]:
type(addtl_250[0])

int

In [153]:
addtl_250 = [int(i) for i in addtl_250]

In [154]:
df_addtl_250 = df.loc[addtl_250]

In [155]:
df_addtl_250

,handle,tweet,if_tsunami,datetime,day,month,year,time,if_alert_worthy
1097,BushraGohar,#TTPTI #NayaPakhtunkhwa Govt’s 5 years-MPAs al...,True,2018-04-20 23:25:00,20,Apr,2018,11:25 PM,0
717,mssirsa,Look who has reached #Tsunami hit Indonesian i...,True,2018-10-08 19:24:00,8,Oct,2018,7:24 PM,0
276,jdpmoore,The extent of the collapse at #AnakKrakatau ge...,True,2018-12-30 02:26:00,30,Dec,2018,2:26 AM,0
535,Farhanif72_,Seventeen #Tsunami #prayforanyerpic.twitter.co...,True,2018-12-22 23:24:00,22,Dec,2018,11:24 PM,0
13,GeoSriLanka,Dinosaurs went extinct 65 million years ago wh...,True,2019-01-14 14:39:00,14,Jan,2019,2:39 PM,0
282,OysteinLAnderse,Indonesian authorities have said they will ins...,True,2018-12-29 04:01:00,29,Dec,2018,4:01 AM,0
286,Federation,One week after the #Krakatoa #tsunami in Indon...,True,2018-12-29 01:23:00,29,Dec,2018,1:23 AM,0
551,IFRCAsiaPacific,Photos just in: first aiders evacuate injured ...,True,2018-12-22 21:06:00,22,Dec,2018,9:06 PM,0
162,doomalert19,#Tsunami #earthquake #DisasterPreaparedness Be...,True,2019-01-09 12:21:00,9,Jan,2019,12:21 PM,0
985,IronsightEN,You need to be ready for all possibilities... ...,True,2018-09-18 09:05:00,18,Sep,2018,9:05 AM,0
602,Strange_Sounds,"Bang, Bang, Bang: M7.5, M6.0 and M6.6 earthqua...",True,2018-12-05 05:41:00,5,Dec,2018,5:41 AM,0
722,Khalsa_Aid,Our team is in the Indonesian #Tsunami hit isl...,True,2018-10-08 03:48:00,8,Oct,2018,3:48 AM,0
677,irisvandeinse,Nahmawati is one of the survivors of #Sulawesi...,True,2018-10-19 20:07:00,19,Oct,2018,8:07 PM,0
1415,TheWatchers_,#Indonesia #earthquake UPDATE: At least one ki...,True,2017-12-15 12:14:00,15,Dec,2017,12:14 PM,0
159,doomalert19,"In 2004, a 9.3 #earthquake & #tsunami struck #...",True,2019-01-09 15:21:00,9,Jan,2019,3:21 PM,0
1172,UNDP_Pacific,Simultaneous #evacuation drills for #tsunami p...,True,2018-02-28 17:53:00,28,Feb,2018,5:53 PM,0
1082,nk_satyam6,This is #Tsunami of Modi wave Nobody party c...,True,2018-05-11 12:45:00,11,May,2018,12:45 PM,0
765,Khalsa_Aid,Our team is in #Tsunami hit #Indonesian island...,True,2018-10-04 01:58:00,4,Oct,2018,1:58 AM,0
116,great_ngo,Not much left after the #tsunami #Banten inclu...,True,2019-01-07 03:42:00,7,Jan,2019,3:42 AM,0
1006,KrisNBC,When is a 6.2 #earthquake not a big deal? When...,True,2018-08-22 03:47:00,22,Aug,2018,3:47 AM,0
223,MarkMichaeldom,agreed #earthquakes #solareclipse 2019 #earthq...,True,2019-01-06 09:46:00,6,Jan,2019,9:46 AM,0
731,BritishRedCross,This is just a glimpse of the devastation that...,True,2018-10-06 07:58:00,6,Oct,2018,7:58 AM,0
42,kendryMA09,Is coming! #Cardinals #Tsunami https://twitter...,True,2019-01-11 14:38:00,11,Jan,2019,2:38 PM,0
84,TsunamiSand,Fantastic to see the 2006 Java #tsunami sedime...,True,2019-01-14 00:23:00,14,Jan,2019,12:23 AM,0
797,YusufDFI,"3 warships, a C-130 & a C-17 carrying relief m...",True,2018-10-02 07:23:00,2,Oct,2018,7:23 AM,0
954,WMO,Information from #Indonesian meteorological ag...,True,2018-09-28 08:19:00,28,Sep,2018,8:19 AM,0
141,LomeMarsupial,#folkrock #MARKETING #tsunami #music #projects...,True,2019-01-12 17:26:00,12,Jan,2019,5:26 PM,0
1203,DSky3,"On the bright side, I just got the award for “...",True,2018-02-06 05:56:00,6,Feb,2018,5:56 AM,0
157,assemblrworld,We've seen devastating news on a tsunami disas...,True,2019-01-11 04:44:00,11,Jan,2019,4:44 AM,0
1043,DCFUnited,TRAILER TOMORROW!!!!!!!. #Aquaman – in theater...,True,2018-07-20 09:52:00,20,Jul,2018,9:52 AM,0
...,...,...,...,...,...,...,...,...,...
198,CDACN,Responding to the #tsunami in #Indonesia’s #Su...,True,2019-01-07 06:40:00,7,Jan,2019,6:40 AM,0
215,Muruqmaal,#Mueller #Tsunami Coming without #Warningpic.t...,True,2019-01-06 17:09:00,6,Jan,2019,5:09 PM,0
1075,hsejar2010,#HappeningNow Srimal Samansiri from #DMC #Sril...,True,2018-05-22 00:52:00,22,May,2018,12:52 AM,0
791,unisdr,"Collapsed bridges, blocked roads, a partially ...",True,2018-10-02 08:57:00,2,Oct,2018,8:57 AM,0
36,aunidan64,(The #Tsunami to end all #Tsunamis),True,2019-01-11 08:39:00,11,Jan,2019,8:39 AM,0
965,worldonalert,Video shows strong #tsunami destroying #Palu C...,True,2018-09-28 07:07:00,28,Sep,2018,7:07 AM,0
335,Nayantharauu,"14 Years Ago, #OnThisDay Boxing Day #Tsunami ...",True,2018-12-25 23:11:00,25,Dec,2018,11:11 PM,0
646,AmercnDefCenter,Voting ALL RED #tsunami here in Michigan tomor...,True,2018-11-05 12:38:00,5,Nov,2018,12:38 PM,0
991,CcroachRoach,I didn't vote for the fool then and I will vot...,True,2018-09-12 19:38:00,12,Sep,2018,7:38 PM,0
1156,RosariaIazzetta,Last year I met strong women living in tsunami...,True,2018-03-10 23:29:00,10,Mar,2018,11:29 PM,0
836,hotosm,A devastating #tsunami & 7.7-magnitude #earthq...,True,2018-10-01 03:00:00,1,Oct,2018,3:00 AM,0
218,NDEccleson,Wait for the MegaQuake #Tsunami,True,2019-01-06 12:20:00,6,Jan,2019,12:20 PM,0
539,pucherazo1,"Indonesia, hat a bad luck, tragedy after trage...",True,2018-12-22 22:30:00,22,Dec,2018,10:30 PM,0
107,simoncarn,And here is Rakata Island to the south of #Ana...,True,2019-01-11 09:46:00,11,Jan,2019,9:46 AM,0
806,Alimdaad_UK,"Did you know, since 2004 @Alimdaad Foundation ...",True,2018-10-01 23:23:00,1,Oct,2018,11:23 PM,0
678,irisvandeinse,"After 3 weeks, seeing the damage #Sulawesieart...",True,2018-10-19 18:48:00,19,Oct,2018,6:48 PM,0
660,vdpluijm,Today's shallow M5.0 near #Portugal is reminde...,True,2018-11-01 04:44:00,1,Nov,2018,4:44 AM,0
59,AngelCAlfaro,#Indonesia - Sunda Strait #Tsunami Assessment....,True,2019-01-07 23:46:00,7,Jan,2019,11:46 PM,0
317,IslamicRelief,As well as providing humanitarian supplies in ...,True,2018-12-26 20:12:00,26,Dec,2018,8:12 PM,0
642,UNDPasiapac,Communities in #Palu #Indonesia have old stori...,True,2018-11-06 13:27:00,6,Nov,2018,1:27 PM,0
154,apnnewsindia,Strong 6.6-magnitude #earthquake hits off #Ind...,True,2019-01-06 17:32:00,6,Jan,2019,5:32 PM,0
653,niwa_nz,Did you know that today is World #TsunamiAware...,True,2018-11-04 20:24:00,4,Nov,2018,8:24 PM,0
115,DECCymru,Your donations are helping children like Fitry...,True,2019-01-07 07:58:00,7,Jan,2019,7:58 AM,0
340,kats_clicks,It’s rainy and cold at night at #tsunami site....,True,2018-12-25 15:23:00,25,Dec,2018,3:23 PM,0
732,PIB_India,Today in 2018 under the leadership of PM @nare...,True,2018-10-06 06:36:00,6,Oct,2018,6:36 AM,0
152,decappeal,Your donations are helping children like Fitry...,True,2019-01-07 05:01:00,7,Jan,2019,5:01 AM,0
361,VaticanNews,Caritas Internationalis has reached out to Car...,True,2018-12-24 18:20:00,24,Dec,2018,6:20 PM,0
961,TravellerSOS,This video shows a #tsunami hitting the Indon...,True,2018-09-28 07:21:00,28,Sep,2018,7:21 AM,0
621,krassenstein,Here are the most shocking videos and images f...,True,2018-11-30 10:50:00,30,Nov,2018,10:50 AM,0
988,DuBz216,x = Yo Side. Productive day with @jalensantoy ...,True,2018-09-14 08:57:00,14,Sep,2018,8:57 AM,0

---

# Merge 50 positive with 250 negative:

In [159]:
df_alert_worthy.shape

(50, 9)

In [157]:
df_addtl_250.shape

(250, 9)

In [163]:
df_300 = pd.concat([df_alert_worthy, df_addtl_250])

In [178]:
df_300.shape

(300, 9)

In [170]:
df_300[['tweet', 'if_alert_worthy']].head(3)

                                                 tweet  if_alert_worthy
529  At least 168 killed when #tsunami hits beaches...                1
531  At least 43 people killed, 584 others wounded,...                1
533  Another disaster hitting #Indonesia bringing l...                1

In [166]:
df_300.to_csv('Addtnl_300_train_tweets.csv', sep=',')

In [172]:
df_300[['tweet', 'if_alert_worthy']].to_csv('Addtnl_300_clean.csv', sep=',', index=False)